.margin {
  margin-left: 50px;
}

.console {
    white-space: pre;

    font-family: monospace;

	width: 750;

	background: #333;
	border: 3px groove #ccc;
	color: #ddd;
	/* display: block; */


    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: 50px; */

    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 30px;
}

.TERM {
  font-style: italic;
  font-weight: bold;
}

a {
  font-weight:bold; 
}

h2 {
  margin-top: 40px;
  background-color: black;
  color: white;
}

/*DL, DT, DD TAGS LIST DATA*/
dt {
  font-weight:bold; 
  font-style: italic;
}
